* {
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    /* Incompatible with UIKIT */
    body {
        background-color: #000;
        color: white;
    }
}
a:hover {
    text-decoration: none;
}
figcaption {
    display: inline-block;
    width: 24em;
    border-radius: 8px;
    box-shadow: gray .5em .5em .5em;
    margin: .7em .6em;
    background-color: LemonChiffon;
    padding: 1em;
    vertical-align: top;
    min-height: 4em;
}
figcaption a {
    padding-left: 2em;
}
input, select {
    display: block;
}
input:not(:placeholder-shown):not(:focus):invalid,
select:invalid {
    border: red solid 1px;
}
select:disabled, input:disabled {
    border: lightgray dotted 1px;
    color: gainsboro;
    background-color: snow;
}
input:disabled::placeholder, select:disabled {
    color: gainsboro;
}
form, section {
    display: inline-block;
    width: 15em;
    vertical-align: top;
}
nav p {
    display: inline-block;
    width: 4em;
}
article aside {
    overflow: hidden;
}
article aside img {
    width: 50%;
    float: right;
}
article aside input[type="checkbox"] {
    width: 0em;
    height: 0em;
}
article aside input[type="checkbox"]::after {
    content: '_';
    background-color: rgba(0, 0, 0, .2);
    padding: 1em 4em 2em 4em;
}
article aside input[type="checkbox"] ~ aside {
    display: none;
}
article aside input[type="checkbox"]:checked ~ aside {
    display: block;
}
article aside input[type="checkbox"]:last-child {
    display: none;
}
article aside h5:nth-child(even) {
    background-color: rgba(255,255,255,.2);
}
/* 
 * Custom Elements */
.fixfloat {
    clear: both;
}
.defunct {
    background-color: gainsboro;
}
/* debugging info */
form p, section p {
    background-color: peachpuff;
}
#status_panel {
    position: fixed;
    display: flex;
    margin-left: 2em;
}
#status_panel a {
    margin: 0 .5em .2em 0;
}
#content_tabs {
    margin: .6em auto;
    border-radius: 8px;
    box-shadow: gray .5em .5em .5em;
    padding: 1em;
}
.uk-navbar-container > div {
    background-image: linear-gradient(-30deg, ghostwhite, mintgreen);
}
.uk-form-icon svg {
    margin-right: 1.4em;
}
#alert_msg, #alert_wrn, #alert_dng {
    position: absolute;
    bottom: 0; 
    width: 90%;
    margin: 5%;
}
