:root {
    box-sizing: border-box;
}
div {
    display: inline-block;
    width: 24em;
    border-radius: 8px;
    box-shadow: gray .5em .5em .5em;
    margin: .7em .6em;
    background-color: LemonChiffon;
    padding: 1em;
    vertical-align: top;
    min-height: 4em;
}
div a {
    padding-left: 2em;
}
input, select {
    display: block;
}
form {
    display: inline-block;
    width: 12em;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: gray .5em .5em .5em;
    margin: .7em .6em;
    padding: 2em;
    vertical-align: top;
}
.notdone {
    background-color: mistyrose;
}